@import '../../global.scss';

.contact {
  background-color: white;
  display: flex;
  width: 100%;
  height: 100%;

  @include mobile{
    flex-direction: column;
  }

  h1{
    padding-top: 30px;
    position: absolute;
    // width: 100%;
    left: 45%;
    height: 20%;
    font-size: 50px;

    @include mobile{
      padding-top: 20px;
      left: 40%;
      font-size: 20px;
      height: 10%;
    }
  }

  .left{
      flex: 1;
      overflow: hidden;

      img{
        height:100%;
      }
  }

  .right{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include mobile{
        margin-bottom: 100px;
      }

      h2{
        font-size: 30px;
      }

      form{
        width: 70% ;
        height:50% ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;

        @include mobile{
          position: absolute;
          height:30% ;
        }
        input{
          width: 300px;
          height: 30px;
          font-size: 14px;

          @include mobile{
            width: 200px;
            // margin-top: -40px;
            height: 20px;

          }
        }

        textarea{
          width: 300px;
          height: 200px;
          font-size: 14px;

          @include mobile{
            width: 200px;
            // margin-top: -180px;
            height: 80px;

          }
        }

        button {
          width: 150px;
          height: 30px;
          color:whitesmoke;
          background-color:crimson;
          border: none;
          border-radius: 10px;
          font-weight: 500;
          cursor: pointer;
          @include mobile{
            // padding-bottom: 80px;

          }

          &:focus{
            outline: none;
          }
        }

        span{
          color: green;
        }
      }
  }
}
